@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #fdfaf1;
  color: #4d3f2d;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #4d3f2d; /* Judge Gray for footer */
  color: #fdfaf1; /* Parchment for footer text */
  text-align: center;
  padding: 1rem; /* Example padding */
  box-sizing: border-box; /* Ensure padding is included in the width */
}
